<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Myshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logonServlet</servlet-name>
    <servlet-class>servlet.logonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logonServlet</servlet-name>
    <url-pattern>/servlet/logonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/servlet/AddresssServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>servlet.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/servlet/CardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>servlet.validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/servlet/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetServlet</servlet-name>
    <servlet-class>servlet.ForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet</servlet-name>
    <url-pattern>/forgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>servlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/codeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LiuyanServlet</servlet-name>
    <servlet-class>servlet.LiuyanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiuyanServlet</servlet-name>
    <url-pattern>/liuyanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPageServlet</servlet-name>
    <servlet-class>page.AdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageServlet</servlet-name>
    <url-pattern>/adminPageServlet</url-pattern>
  </servlet-mapping>
 <error-page>
    <error-code>404</error-code>
    <location>/front/main/error.jsp</location>
  </error-page> 
  
 <session-config>
<session-timeout>15</session-timeout>
</session-config>
</web-app>